<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/messageboardcommon.css}" />
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<title>ログイン画面</title>
</head>

<body>
	<div class="login-box">
		<h2>ログインしてください</h2>
		<form th:action="@{/login}" method="post">
			<label>ログインID：</label>
			<input type="text" name="id" th:value="${loginBean.id}" />
			<label>パスワード：</label>
			<input type="password" name="password" th:value="${loginBean.password}" />
			<input type="submit" value="ログイン" />
		</form>

		<div th:unless="${loginBean.getErrorList().isEmpty()}">
			<div th:each="errorList : ${loginBean.getErrorList()}">
				<p class="error-message" th:text="${errorList}"></p>
			</div>
		</div>

		<p th:text="${msg}"></p>
	</div>
</body>

</html>

</html>