<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>掲示板詳細画面</title>
	<link rel="stylesheet" th:href="@{/css/messageboardcommon.css}" />
	<link rel="stylesheet" th:href="@{/css/messageboarddetail.css}" />
</head>

<body>
	<header class="site-header">
		<div class="logo">
			<a th:href="@{/messageBoard/index}">
				<img th:src="@{/images/messageboard_logo.png}" alt="MessageBoard ロゴ" class="logo-image">
			</a>
		</div>
		<nav class="nav">
			<a th:href="@{/logout}">Log Out</a>
		</nav>
	</header>

	<main class="container">
		<section class="left-column">
			<nav class="breadcrumb">
				<a th:href="@{/messageBoard/index}">掲示板トップ</a> &gt;
				<span th:text="${'スレッド詳細画面: ' + mb.title}"></span>
			</nav>
			<div class="margin-bottom align-right">
				<form th:action="@{/messageBoard/list/search}" method="get">
					検索：<input type="text" name="searchText" placeholder="掲示板を検索">
					<button type="submit">検索</button>
				</form>
			</div>
			<div class="thread-info">
				<img class="image" th:src="@{${mb.thumbnailPath}}" alt="Image" />
				<div class="details">
					<p th:text="タイトル： + ${mb.title}"></p>
					<p th:text="説明： + ${mb.description}"></p>
				</div>
			</div>

			<div class="posts">
				<!-- 投稿リスト -->
				<div class="post" th:if="${mdLists.isEmpty()}">
					<p th:text="スレッドがまだありません"></p>
				</div>
				<div class="post" th:each="mdList, iterStat : ${mdLists}">
					<p class="meta">
						<span th:text="${(mdLists.getNumber() * mdLists.getSize() + iterStat.count) + '. ' 
							+ mdList.createdAt + ' by ' + mdList.postBy}"></span>
					</p>
					<p th:text="${mdList.content}"></p>
					<div class="align-right">
						<form th:unless="${mdList.alreadyLiked}"
							th:action="@{/messageBoard/detail/addLike/{postId}(postId=${mdList.postId})}" method="post">
							<button type="submit">
								<span th:text="${'いいね ' + mdList.likeCount}"></span>
							</button>
							<input type="hidden" name="threadId" th:value="${mb.id}" />
							<input type="hidden" name="page" th:value="${page}" />
						</form>
						<span th:if="${mdList.alreadyLiked}" th:text="'いいね ' + ${mdList.likeCount}"></span>
					</div>
				</div>
			</div>

			<div th:unless="${mdLists.isEmpty()}" class="pagination">
				<ul>
					<!-- 最初のページ -->
					<li th:if="${mdLists.number > 2}">
						<a th:href="@{/messageBoard/detail/{threadId}/0(threadId=${mb.id})}">1</a>
					</li>
					<!-- 省略記号 -->
					<li th:if="${mdLists.number > 3}"><span>…</span></li>
					<!-- 中央のページ番号 -->
					<li th:each="i : ${#numbers.sequence(
					     (mdLists.number - 2) < 0 ? 0 : mdLists.number - 2,
					     (mdLists.number + 2) >= mdLists.totalPages ? mdLists.totalPages - 1 : mdLists.number + 2)}"
						th:classappend="${i == mdLists.number} ? 'active'">
						<a th:href="@{/messageBoard/detail/{threadId}/{page}(threadId=${mb.id}, page=${i})}"
							th:text="${i + 1}"></a>
					</li>
					<!-- 省略記号 -->
					<li th:if="${mdLists.number < mdLists.totalPages - 4}"><span>…</span></li>
					<!-- 最後のページ -->
					<li th:if="${mdLists.number < mdLists.totalPages - 3}">
						<a th:href="@{/messageBoard/detail/{threadId}/{page}(threadId=${mb.id}, page=${mdLists.totalPages - 1})}"
							th:text="${mdLists.totalPages}"></a>
					</li>
				</ul>
			</div>

			<form th:action="@{/messageBoard/detail/addPost}" method="post">
				<div class="form">
					<textarea name="content" maxlength="255" placeholder="投稿を入力してください（255文字まで）"></textarea>
					<input type="hidden" name="threadId" th:value="${mb.id}" />
					<input type="hidden" name="page" th:value="${page}" />
					<div class="align-center">
						<button type="submit">投稿する</button>
					</div>
				</div>
			</form>
		</section>

		<div class="sidebar">
			<aside class="right-top-column">
				<p>書き込みランキング</p>
				<div class="ranking" th:each=" postCountMbList : ${postCountMbLists} ">
					<a th:href="@{/messageBoard/detail/{id}(id=${postCountMbList.id})}"
						th:text="${postCountMbList.title}"></a>
				</div>
			</aside>
			<aside class="right-bottom-column">
				<div class="categories">カテゴリから検索</div>
				<div th:each=" categoryMbList : ${categoryMbLists}">
					<a th:href="@{/messageBoard/list/category/{categoryId}(categoryId=${categoryMbList.categoryId})}"
						th:text="${categoryMbList.categoryName}"></a>
				</div>
			</aside>
		</div>
	</main>

	<footer class="site-footer">
		&copy; 2025 Jumpei Sato. All rights reserved.
	</footer>
</body>

</html>